<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Chat App</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>

<div id="app" class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <h3>Conversations</h3>
            <ul class="list-group">
                <li v-for="conversation in conversations" :key="conversation.sessionId" class="list-group-item"
                    @click="selectConversation(conversation.sessionId)">
                    {{ conversation.name }} <span v-if="conversation.unReadCount > 0"
                                                  class="unread-count-circle">{{ conversation.unReadCount }}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div v-if="selectedConversation">
                <h3>{{ selectedConversation.name }}</h3>
                <div class="messageBox" ref="messageBox">
                    <div v-for="message in selectedConversation.messages" :key="message.id">
                        <div class="messageTime"><span>{{ message.sendAt }}</span></div>
                        <div :class="user.id===message.senderId? 'sender-message' : 'receiver-message'">
                            <span>{{ message.content }}</span>
                        </div>
                    </div>
                </div>

                <div class="input-group mt-3" v-if="selectedConversation">
                    <input type="text" v-model="newMessage" class="form-control" placeholder="Type your message">
                    <button class="btn btn-primary" @click="sendMessage">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                user: undefined,
                hostUrl: '',
                conversations: [],
                conversationMap: undefined,
                selectedConversation: undefined,
                newMessage: ''
            };
        },
        created() {
            this.getUser();
            this.fetchConversations();
            setTimeout(() => {
                this.longPollingQueryMessageByUser();
            }, 3000);
        },
        methods: {
            getUser() {
                let user = localStorage.getItem('user')
                if (user) {
                    user = JSON.parse(user)
                    if (user.token) {
                        this.user = user
                        return
                    }
                }
                window.location.href = 'login.html';
                /*this.user = {
                    id: 1,
                    name: '1号',
                    token: 'eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJiYXNlIiwic3ViIjoidXNlciIsInVzZXIiOiJ7XCJpZFwiOjEsXCJwaG9uZVwiOlwiMTU4MDAzMTM2MDBcIixcIm5hbWVcIjpcIjHlj7dcIixcInRva2VuXCI6bnVsbH0iLCJpYXQiOjE3MjU2MTM3NDEsImV4cCI6MTcyNjIxODU0MX0.E03hxn-mm8ZpVpDnUa7ZCDC4AJLkGS3trYtf26QbhZ4'
                }*/
            },
            fetchConversations() {
                fetch(this.hostUrl + '/chat/getUserSession', {
                    method: 'POST',
                    headers: {
                        'token': this.user.token
                    }
                }).then(response => response.json())
                    .then(conversations => {
                        if (conversations.code === '0') {
                            this.conversations = conversations.data;
                            this.conversationMap = new Map(this.conversations.map(item => [item.sessionId, item]));
                        }
                    })
                    .catch(error => console.error('Error fetching conversations:', error));
            },
            selectConversation(id) {
                this.selectedConversation = this.conversationMap.get(id);
                this.fetchMessages(id, this.selectedConversation.maxMessageId);
            },
            fetchMessages(sessionId, maxMessageId) {
                let url = this.hostUrl + '/chat/querySessionMessage?sessionId=' + sessionId + (maxMessageId ? '&maxMessageId=' + maxMessageId : '');
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'token': this.user.token
                    }
                })
                    .then(response => response.json())
                    .then(messages => {
                        if (messages.data && messages.data.length > 0) {
                            if (!this.selectedConversation.messages) {
                                this.selectedConversation.messages = []
                            }
                            messages.data.forEach(message => {
                                this.selectedConversation.messages.push(message)
                            })
                            this.selectedConversation.maxMessageId = messages.data[messages.data.length - 1].id
                        }
                        this.selectedConversation.unReadCount = 0;
                        this.$nextTick(() => {
                            const messageBox = this.$refs.messageBox;
                            messageBox.scrollTop = messageBox.scrollHeight;
                        });
                    })
                    .catch(error => console.error('Error fetching messages:', error));
            },

            sendMessage() {
                if (this.selectedConversation) {
                    fetch(this.hostUrl + `/chat/sendMessage`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'token': this.user.token
                        },
                        body: JSON.stringify({
                            sessionId: this.selectedConversation.sessionId,
                            senderId: this.user.id,
                            receiverId: this.selectedConversation.targetUserId,
                            contentType: '1',
                            content: this.newMessage
                        })
                    })
                        .then(response => response.json())
                        .then(message => {
                            if (message.code === '0') {
                                if (!this.selectedConversation.messages) {
                                    this.selectedConversation.messages = []
                                }
                                this.selectedConversation.messages.push(message.data);
                                this.newMessage = ''
                            }
                        })
                        .catch(error => console.error('Error sending message:', error));
                }
            },

            longPollingQueryMessageByUser() {
                fetch(this.hostUrl + '/chat/longPollingQueryMessageByUser', {
                    method: 'POST',
                    headers: {
                        'token': this.user.token
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.code === '0') {
                            let map = data.data
                            if (map) {
                                new Map(Object.entries(map)).forEach((messages, sessionId) => {
                                    let session = this.conversationMap.get(sessionId)
                                    if (session) {
                                        messages.forEach(message => {
                                            session.messages.push(message)
                                        })
                                        session.unReadCount = session.unReadCount + messages.length
                                    } else {
                                        this.addNewSession(sessionId, messages)
                                    }
                                })
                            }
                        }
                        this.longPollingQueryMessageByUser()
                    })
                    .catch(error => console.error('Error fetching messages:', error));
            },

            addNewSession(sessionId, messages) {
                fetch(this.hostUrl + '/chat/getSessionById?sessionId=' + sessionId, {
                    method: 'POST',
                    headers: {
                        'token': this.user.token
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.code === '0') {
                            let session = data.data;
                            if (session && !this.conversationMap.get(sessionId)) {
                                session.messages = messages
                                session.unReadCount = session.unReadCount + messages.length
                                this.conversations.push(session)
                                this.conversationMap.set(session.sessionId, session)
                            }
                        }
                    })
            }

        }
    });

    app.mount('#app');
</script>

</body>

<style>
    .messageBox {
        max-height: 300px;
        overflow: auto;
        border: 1px solid #ccc
    }

    .sender-message {
        margin: 5px 5px 15px 5px;
        text-align: right;
    }

    .messageTime {
        color: #999;
        font-size: 12px;
        text-align: center;
    }

    .sender-message span {
        background: lightblue;
        padding: 5px;
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        display: inline-block;
    }

    .receiver-message {
        margin: 5px 5px 15px 5px;
    }

    .receiver-message span {
        background: lightgreen;
        padding: 5px;
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        display: inline-block;
    }

    .unread-count-circle {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: red;
        color: white;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }
</style>

</html>
